
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ESPACE-ADMIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
  
            
  
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{path('app_article_blog')}}">BLOG</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{path('app_article_index')}}">Gestion Articles</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{path('app_categorie_index')}}">Gestion Categorie</a>
              </li>
            
        
        </ul>
        <div class="mt-2 mt-md-0">
            <a href="{{path('app_logout')}}" class="btn btn-primary">Se Déconnecter</a>
        </div>
        
      </div>
    </div>
  </nav>